<h2>Users</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button class="btn btn-outline-info" (click)="handleClick(user)">
          View Posts
        </button>
      </td>

    </tr>
  </tbody>
</table>
<app-posts userId={{userId}} [posts]="posts"></app-posts>
