<h2>Users</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button class="btn btn-outline-info" (click)="handleClick(user)">
          View Posts
        </button>
      </td>

    </tr>
  </tbody>
</table>

<!-- <div *ngFor="let user of users" class="card mb-3">
<div class="card-body">
  <h5 class="card-title">User: {{ user.id }}</h5>
  <p class="card-text">Name: {{ user.name }}</p>
  <p class="card-text"><small class="text-muted">Role: {{ user.role }}</small></p>
  <button class="btn btn-outline-info" (click)="handleClick(user)">
    View Posts
  </button>
</div>
</div> -->



<app-posts [userId]="userId" [userName]="userName" [posts]="posts" [showPosts]="showPosts" [showNoPosts]="showNoPosts">
</app-posts>
